<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Welcome Guest!</title>
</head>
<body>
    <div style="text-align:center;">
      <h1>App</h1>
    Welcome to my App!
    </div>
</body>
</html>